.social{
    width: calc( 100% - 80px );
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    & h1{
        color: white;
    }
}

.description{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-family: 'Kdam Thmor Pro', sans-serif;

    h2 {
        color: white;
        font-size: xx-large;
    }
    p{
        color: rgb(236, 199, 147);
        font-size: x-large;
        text-align: center;
    }
}

.web{
    width: calc( 100% - 64px );
    min-height: 400px;
    display: grid;
    padding: 40px 32px 20px;
    grid-template-columns: repeat(  2,  1fr );
    gap: 20px 20px;

    overflow-x: hidden;

    @media ( max-width : 800px ) {
        grid-template-columns: 1fr;
    }

    .card{
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: solid black 1px;
        box-shadow: 5px 4px 2px #a5a5a570;

        padding-bottom: 20px;

        gap: 20px;

        img{
            width: 100%;
            height: 450px;
            object-fit:cover;
            border-bottom: solid 1px black;
        }

        h3{
            text-align: center;
            font-size: x-large;
        }

        button{
            $BTNColor: rgb(51, 38, 10);
            background-color: $BTNColor;
            border-color: $BTNColor;
            color: white;
            border-radius: 20px;

            width: 250px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            transition: .25s;

            &:hover{
                cursor: pointer;
                background-color: rgb(51, 45, 31);
            }
        }
    }
}