:root{
    --button-color: rgb(59, 59, 167);
    --button-color-hover : rgb(126, 126, 255);
}

*{
    margin: 0;
}

body{
    background-color: #9b9b9b;
}

.social{
    background-color: #494949;
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    & h1{
        padding-top: 20px;
        padding-left: 20px;

        color: white;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }
}

.description{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(87, 87, 238);
    
    font-family: 'Kdam Thmor Pro', sans-serif;

    h2 {
        color: white;
        font-size: xx-large;
    }
    p{
        width: 50%;
        color: rgb(236, 199, 147);
        font-size: x-large;
        text-align: center;
    }
}

.web{
    background-color: #9b9b9b;
    min-height: 400px;
    display: grid;
    padding: 40px 32px 20px;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;

    .card{
        border-radius: 10%;
        background-color: white;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: solid black 1px;
        box-shadow: 5px 4px 2px #00000070;

        img{
            width: 100%;
            height: 450px;
            object-fit:cover;
            border-bottom: solid 1px black;
        }
        h3{
            margin: 20px 0;
            text-align: center;
            font-size: x-large;
        }
        div{
            margin-bottom: 12px;
            height: 30px;
            a{
                button{
                    background-color: var(--button-color);
                    border-color: var(--button-color);
                    color: white;
                    border-radius: 5%;

                    width: 250px;
                    height: 30px;

                    transition: .5s;
    
                    &:hover{
                        cursor: pointer;
                        background-color: var(--button-color-hover);
                    }
                }
            }
        }
    }
}